*.pyc
*.DS_Store
*.ipynb_checkpoints
qkit/core/userconfig.py
qkit/config/local.py
qkit/config/services.py
qkit/logs/qkit.log

# IDEs and Python
.vscode/
.mypy_cache/
.idea/
venv
.venv

# QKit data
notebooks/
data/
