# Use sane defaults
* text=auto

# Most people use windows, so we use LF as line endings explicitly, to prevent erroneous line ending changes
*.py text eol=lf

# Shell scripts need to end in LF only
*.sh text eol=lf


# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary